*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    width: 45%;
    height: 45px;
    background-color: rgba(1,1,1,0);
    color: white;
    border: 2px solid white;
    text-transform: uppercase;}
button:hover{
    color: black;
    background-color: white;

}
ul{
    list-style: none;
}
/*menubar*/
header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0;






}








/* hide the nav ul */
.hidden{
    display: none ;
}
#main-nav{
    width: 100%;
    height: 90vh;
    background-color: hsl(270, 9%, 17%);
    background-image: url(../images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 100%;
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    padding-top: 5vh;

}
#main-nav ul li{
    margin: auto;
    width:90%;
    margin-top: 40px;
    padding:10px 0px;



}
#main-nav ul li:hover{

  border: 1px solid white;
}



.intro-img{
   width: 100%;
}
.intro-img.desktop{
    display: none;
}



.humanize {

    position: relative;
    z-index: -1;
    color: white;
    margin-top:-4px ;
    padding: 20% 5%;
    text-align: center;
     background-color:hsl(256, 26%, 20%);

    background-image: url(../images/bg-pattern-intro-right-mobile.svg), url(../images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat, no-repeat;

    background-size: 120px,120px;
    background-position: 100% 180%,0% 0%;







}
.humanize h1{
    font-size: 3em;
    line-height: 1em;
}
.humanize p{
    padding: 8% 0% 15%;
    font-size: 1.2em;
    line-height: 1.5em;
}


.speciality{
    text-align: center;
    padding: 0 10px 100px;


}
.speciality h1{
    font-size: 3em;
    padding-bottom: 20px;
}



.hrow{
    width: 40%;
    margin:100px auto 40px;
    border-bottom: 1px solid hsl(256, 26%, 20%);


}
.speciality img{
    padding:40px 0px;
    max-width: 100%;
}
.speciality h3{
font-size: 1.8em;
padding-bottom: 20px;
}
.speciality p{
    line-height: 1.5em;
}
.workprocess{
    width:80%;
    margin: auto;
    background-color:hsl(256, 26%, 20%) ;
    color: white;
    text-align: center;
    padding-top:60px;
    padding-bottom: 60px;
    background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: 100% 0;
}
.workprocess h1{
    font-size: 3em;
    line-height: 1em;
    padding-bottom: 50px;
}
.icons{
    text-align: center;
    padding-bottom: 80px;
    background-image: url(../images/bg-pattern-footer-mobile.svg);
    background-size: contain;

    background-repeat: no-repeat;
    margin-top: 80px;
    margin-bottom: 80px;
    border-bottom: .1px solid hsla(256, 26%, 20%,.1);
}
.icons .logo-img{
width: 30%;
display: block;
padding:80px 0 30px;
margin: auto;

}
.icons img{
    padding-right: 10px;
}
.footer{
    text-align: center;

}
.footer h4{
    font-size: 1em;
    padding:20px;
    opacity: .5;
}
.footer li{
    padding-bottom: 10px;
    font-size: 1.1em;
}

@media (min-width:600px){
#menubars{
    display: none;
}
#main-nav{
    display: block;
    margin: 0;
    padding: 0;
    background: none;
    height: auto;
    padding-right: 10%;
    margin-top: -62PX;
    padding-bottom: 31px;

    text-align: right;
}
#main-nav ul li{
    display: inline;
    font-size: .6em;
    /* background-color:hsl(270, 9%, 17%); */
    padding: 10px 20px;
    color: black;
    transition: all .3s ease-in-out;

}
#main-nav ul li:hover{
    color: white;
    background-color:hsl(270, 9%, 17%);

}
.intro-img{
    display: none;
}
.intro-img.desktop{
    display: block;

    max-width: 30%;
    position: absolute;
    top: 26%;
    left: 62%;
 }
.humanize {

    position: relative;
    z-index: -1;
    color: white;
    margin-top:-4px ;
    padding: 0 0;
    text-align: left;
    background-color:hsl(256, 26%, 20%);
    background-image: url(../images/bg-pattern-intro-left-desktop.svg);
    background-position: left;
    min-height: 60vh;


}
.humanize p,.humanize h1{
    width: 50%;
    padding-bottom: 10px;
    margin-left: 10%;
    padding-top: 0;


}
.humanize h1{
    padding-top: 200px;
}
.humanize button{
    width: 100px;
    margin-left: 10%;
    margin-bottom: 100px;
}
.speciality{
    text-align: center;
    padding: 150px 10px ;
    width: 90%;
    margin:auto;


}
.section-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.workprocess{
    display: flex;
    text-align: left;
    align-items: center;

    justify-content: space-around;
}
.workprocess h1{
    font-size: 2em;

    width: 30%;
}
.workprocess button{
    width: 15%;

}
.icons{
    display: flex;
    justify-content:space-between;
    align-items: flex-end;

    width: 90%;
    margin:80px auto 0;


}
.icons .logo-img{

    width: 10%;
    margin: 0;
    padding:0;

}

.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}




}
